<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YT Hero Rhythm Game</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">YT Hero</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">About the Dev</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/play">Play</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Hero Section -->
  <div class="hero">
    <h1>Rock Your World</h1>
  </div>

  <!-- Features Section -->
  <div class="container features w-100" id="features">
    <div class="m-auto w-50 text-center">
      <h3>Play Any YouTube Video</h3>
      <p>Play along to any YouTube video by simply entering the URL.</p>
    </div>
  </div>

  <!-- large button to play that redirects to /play -->
   <div class="w-100 d-flex justify-content-center mb-4">
    <a href="/play" class="btn btn-lg btn-primary">Play Now</a>
   </div>


  <!-- Footer -->
  <div class="footer text-center">
    <p>&copy; 2024 Guitar Hero. All rights reserved.</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  <script src="{% static 'myapp/js/home.js' %}" defer></script>
</body>
</html>